*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4a141;
    display: flex;
    font-family: 'Rubik', sans-serif;
    justify-content: center;
}

.wrapper{
    width: 60vw;
    background-color: #182625;
    height: 50vh;
    position: absolute;
    top: 30%;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 2 6px rgba(0,0,0, 0.2);
}

span{
    text-align: center;
    display: block;
    font-size: 50px;
    margin-bottom: 60px;
}

p{
    font-size: 16px;
    margin-bottom: 60px;
    color: white;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    word-break:keep-all;
}

.btn-div{
    width: 100%;
    text-align: center;
}
button{
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #f4a141;
    color: #182625;
    text-transform: capitalize;
}


@media screen and (max-width: 768px){
    .wrapper{
        height: 60vh;
        top: 20%;
        width: 85vw;
        padding: 20px 0px;
    }
    p{
        padding: 40px 20px;

    }
}
